{
  "presets": [ "latest", "stage-0", "react" ],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
