{
  "root": true,
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "babel",
    "immutablejs",
    "react-with-styles"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": [ 2, "never" ],
    "import/no-extraneous-dependencies": [ "error", {
      "optionalDependencies": false,
      "peerDependencies": false
    }]
  },
  "globals": {}
}
